<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>18/08/27 14:34:18</td>   <td>0</td> <td title="&gt;&gt;LearnReport.StartResult()[pri:0, instance:selenium.TC.semethods.TC003_DeleteLead@71318ec4]">&gt;&gt;StartResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/08/27 14:34:20</td>   <td>1919</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC003_DeleteLead.setdata()[pri:0, instance:selenium.TC.semethods.TC003_DeleteLead@71318ec4]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/08/27 14:34:20</td>   <td>1934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnReport.StartTestCase()[pri:0, instance:selenium.TC.semethods.TC003_DeleteLead@71318ec4]">&gt;&gt;StartTestCase</td> 
<td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/08/27 14:34:20</td>   <td>1945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_DeleteLead.DeleteLead()[pri:0, instance:selenium.TC.semethods.TC003_DeleteLead@71318ec4]">DeleteLead</td> 
  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/08/27 14:34:48</td>   <td>29732</td> <td title="&lt;&lt;LearnReport.stopResult()[pri:0, instance:selenium.TC.semethods.TC003_DeleteLead@71318ec4]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
</table>
